# Prevent large files from being committed
*.pkl filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.bck filter=lfs diff=lfs merge=lfs -text
